/* DeliveryPartners.css */
.container {
  margin: 20px;
  font-family: Arial, sans-serif;
}

.section {
  margin-bottom: 40px;
}

.section h2 {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.card p {
  font-size: 14px;
  color: #666;
}

.main-image {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.add-update-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-update-button:hover {
  background-color: #45a049;
}

.add-update-form {
  margin: 20px;
}

.add-update-form form {
  display: flex;
  flex-direction: column;
}

.add-update-form label {
  margin-bottom: 10px;
}

.add-update-form input,
.add-update-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-update-form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-update-form button:hover {
  background-color: #45a049;
}
